# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Ambientes virtuais
venv/
env/
.venv/
ENV/

# Distribuição / build
build/
dist/
*.egg-info/

# Jupyter (caso alguém use notebook para testes)
.ipynb_checkpoints/

# Editores e IDEs
.vscode/
.idea/
*.swp

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos de log ou saída gerados durante testes
*.log
